@tailwind base;
@tailwind components;
@tailwind utilities;



.message {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
  }
  .question {
    color: white; 
    background-color: blue; 
    border-radius: 20px 20px 0px 20px;
    align-self: flex-end;
     
  }
  
  .answer {
    color: black; /* Change to the color you prefer */
    align-self: flex-start;
    background-color: rgba(222, 222, 222, 0.841);
    border-radius: 20px 20px 20px 30px;

  }
  .send{
    margin-bottom: 0px;
    width: 100%;
     
  }


  .conversation-container {
    display: flex;
    flex-direction: column;
  }

  .header {
     
    height: 50px;
    border-radius: 2px 2px 2px 2px;
    background-color: blanchedalmond;
    position: sticky;
    top: 0px;
  }
  .body{
     
  }
  

  